<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QR Quishing Inspector</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            🛡️ QR Quishing Inspector
        </span>
    </div>
</nav>

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-center">
                Scan QR Codes Safely
            </h2>

            <p class="text-center text-muted">
                Upload a QR code and check whether it is safe before opening it.
            </p>

            <div class="text-center mt-4">
                 <form action="/upload" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <input
                type="file"
                class="form-control"
                name="qr_image"
                accept="image/*"
                required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Upload QR Code
            </button>
        </div>

    </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>